@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Montserrat+Alternates:wght@100;200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}

:root{
    --primary: rgb(37, 37, 37);
    --secondary: #1d1622;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 6px;
  opacity: 0.1;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 2px solid var(--primary);
}